.container {
	display: flex;
	flex-direction: column;
}
.options {
	display: flex;
	gap: 8px;
	justify-content: space-between;
	margin-top: 8px;
}
.option {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.labels {
	margin-top: 8px;
	font-size: 12px;
	color: #444;
}
