html,
body,
#root {
	height: 100%;
	margin: 0;
	font-family:
		system-ui,
		-apple-system,
		"Segoe UI",
		Roboto,
		"Helvetica Neue",
		Arial;
	color: #111;
}

body {
	padding: 16px;
}

button {
	padding: 8px 12px;
	border-radius: 4px;
}

.wrapper {
	max-width: 80ch;
	margin: 0 auto;
}
